<% if logged_in? %>
<h1>Current User is : <%= current_user.name %></h1>
<% end %>
<h1> <%= @user.name %> </h1>
<p><%= @user.email  %> </p> 
<% if @user.organized_events.any? %>
<% @user.organized_events.each do |event| %>
    <p> <%= event.description %></p>
    <p> <%= event.location %></p>
    <p> <%= event.date %></p>
<% end %>
<% end %>