<h1>
<%= @event.description %> 
</h1>

<p> This event is organized by: 
<%= @event.organizer.name %> 
</p>
<% @event.attendees.each do |attendee| %>
    <p><%= link_to "#{attendee.name}", attendee %></p>
 <% end %>
<% if logged_in? && current_user != @event.organizer && !current_user.attended_events.include?(@event) %>
  <%= form_for(:invitation) do |f| %>
    <%= f.hidden_field :attended_event_id, value: @event.id %>
    <%= f.submit "Attend Event", class: "btn btn-primary"%>  
<% end %>
<% end %>